body {
    background-image: url("https://images.pexels.com/photos/1598366/pexels-photo-1598366.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: repeat;
    color: white;
}

.content-container {
    background: rgba(255, 255, 255, 0.6);
    margin-top: 30px;
}

#emotional-buttons {
    margin: 20px;
    text-align: center;
}

.emotional-button-styling, #add-emotional-button {
    margin: 5px;
    border: 2px solid pink;
}

#emotional-giphys {
    margin: 20px;
    padding: 20px;
}

#emotional-form {
    margin: 20px;
    padding: 20px;
    position: relative;
}

p {
    font-style: italic;
}

/* COLUMN & ROW STYLING */
.gif {
    height: 100px;
}

.gif-img {
    margin: 5px;
}
