/* BODY STYLING */
body {
    background-image: url("https://images.pexels.com/photos/1598366/pexels-photo-1598366.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: repeat;
    color: white;
}

.content-container {
    background: rgba(255, 255, 255, 0.6);
    margin-top: 30px;
}

/* BUTTON STYLING */
#emotional-buttons {
    margin: 20px;
    text-align: center;
}

.emotional-button-styling, #add-emotional-button {
    margin: 5px;
    border: 2px solid pink;
}

/* FORM & CONTAINER STYLING */
#emotional-form {
    margin: 20px;
    padding: 20px;
}

.heading-container {
    padding-top: 30px;
}

.form-container, .heading-container {
    text-align: center;
}

/* TEXT STYLING */
#express {
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 75px;
}

em {
    color: pink;
}

h5 {
    text-align: center;
    color: rgb(155, 82, 94);
    font-style: italic;
    font-size: 16px;
}

/* GIF STYLING */
.gif-img-div {
    margin: 10px;
}

.gif {
    height: 175px;
    border: 2px solid white;
}

p {
    font-style: italic;
}

#emotional-giphys {
    margin: 20px;
    padding: 20px;
}
